.git
.idea
.vscode
.DS_Store
*.iml

target
**/target/**
!server/target/
!server/target/nexus-plus-server-*.jar

logs
*.log
.local
.playwright-mcp
.claude/settings.local.json

*.png
migration-nexus/README.md
